.primary{
    background-color: rgb(21, 73, 204);
    color: white;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    border: none;
    margin: 0.1em;
}
.add{
     background-color: rgb(11, 46, 135);
    color: white;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    border: none;
    margin: 0.1em;
}
.edit{
     background-color: rgb(195, 110, 24);
    color: white;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    border: none;
    margin: 0.1em;
}
.remove{
     background-color: rgb(135, 28, 9);
    color: white;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    border: none;
    margin: 0.1em;
}
table{
    width: 100%;
    border-collapse: collapse;
    th{
        background-color: rgb(161, 161, 161);
        color: white;
        text-align: right;
    }
    th,td{
        padding: 0.2em;
    }
        th{
        border-top: 1px solid rgb(101, 99, 99);
    }
    tr{
        border-bottom: 1px solid rgb(101, 99, 99);
    }
    tr:nth-of-type(2n+1){
        background-color: lightgray;
    }
}
.ghofl{
background-color: rgb(255, 214, 221);
}